body {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
}

.logo {
	width: 15%;
	border-left: 30%;
}

header {
	background: #FACCCB;
	padding: 2px 100px;
}

.caixa {
	width: 700px;
}

nav {
	position: absolute;
	top: 120px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color: darksalmon;
    text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 30px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 10px 1.0%;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 5px double #FACCCB;
    border-radius: 30px;
}

.produtos li:hover {
    border-color: darksalmon;
}

.produtos li:active {
    border-color: #FACCCB;    
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos h2 {
	font-size: 28px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 17px;
}

.produto-preco {
	font-size: 19px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.png");
    padding: 40px 0;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin: 20px 0 0;
}
